@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.successfullyCreated {
  margin: 0;
  position: absolute;
  top: 136px;
  left: 97px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.successfullyCreatedParent {
  position: relative;
  border-radius: var(--br-36xl);
  background-color: var(--color-purple);
  width: 605px;
  height: 320px;
  overflow: hidden;
  opacity: 0;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--font-size-23xl);
  color: var(--color-white);
  font-family: var(--font-gt-walsheim-pro);
}
.successfullyCreatedParent.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
